.DS_STORE
__pycache__
.pytest_cache
.coverage
data/interim/studies
/models
/reports/figures/sparsity
/reports/figures/distributions/interim/stations_timeseries_selected
/reports/figures/dimensionality/interim/timeseries
